.footer {
    background-color: #f9f9f9;
    color: var(--text-main);
    padding: 4rem 0 2rem;
    margin-top: 4rem;
    border-top: 1px solid var(--border);
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* or center */
    gap: 2rem;
    margin-bottom: 3rem;
}

.heading {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary);
}

.column ul {
    list-style: none;
}

.column ul li {
    margin-bottom: 0.8rem;
}

.column ul li a {
    color: var(--text-main);
    transition: color 0.3s ease;
    font-size: 0.9rem;
}

.column ul li a:hover {
    color: var(--primary);
}

.social,
.payment {
    margin-top: 1rem;
}

.bottom {
    border-top: 1px solid var(--border);
    padding-top: 2rem;
    text-align: center;
    color: var(--text-light);
    font-size: 0.8rem;
}