.topBar {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}